﻿/* Layout
----------------------------------------------------------*/
body   
{
    background: #ffffff;

}
*{
	margin:0px;
	padding:0px;
	
}
.button{
    background: #3D3D3D;
    color: white !important;
	text-decoration:none !important;
    border: 1px solid black;
    border-radius: 7px;
    margin-bottom: 13px;
    padding:8px 10px;
    cursor: pointer;
    font-weight: bold;
    float: left;
    font-size: 12px;
}
.button:hover{
    background: #D1D1D1;
    color: #3D3D3D !important;
    border: 1px solid #3D3D3D;
    border-radius: 7px;
}
.clear
{
    clear:both;
}
a:link, a:visited
{
    text-decoration:underline;
    color:#ffffff;
}
a:hover
{
    text-decoration:none;
    color:#ffffff;
}
#header_wrapper
{


}
#header
{
    width:962px;
    margin:0px auto;
    height:110px;
}
#logo a
{
    float:left;
    height:90px;
    width:90px;
    text-indent:-900em;
    background-repeat:no-repeat;
    margin:16px 0px 0px 0px;
}

#topnavbar
{
    background-color:#ffffff;
    height:21px;
    width:962px;
    margin:0px auto;
    overflow:hidden;
    
}
#topnavleft
{
    float:left;
    width:780px;
    
}
#topnavleft li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-weight:bold;
    line-height:150%;

}
#topnavleft li a:link, #topnavleft li a:visited
{
    text-decoration:none;
}
#topnavleft li a:hover
{
    text-decoration:underline;
}
#topnavright
{
    float:right;
    width:151px;
    

}
#topnavright li
{
    display: inline;
    list-style-type: none;
    margin-left: 13px;
    font-weight:bold;
    height:21px;
    line-height:120%;
    float:left;
}
#topnavright li a:link, #topnavright li a:visited
{
    background-color:#ffffff;
    color:#ffffff;
    padding:5px 10px 7px;
    height:21px;
    text-decoration:none;
    float:left;
    
}
#topnavright li a:hover
{
    text-decoration:underline;
}
#gold_stripe
{
    background-color:#b17200;
    height:4px;
    width:100%;
    margin-bottom:3px;
    overflow:hidden;
}
#silver_stripe
{
    background-color:#d0d0d0;
    height:4px;
    width:100%;
    margin-bottom:3px;
    overflow:hidden;
}
#bronze_stripe
{
    background-color:#772919;
    height:4px;
    width:100%;
    overflow:hidden;
}
.stripe_gap
{
    height:3px;
    background-color:#ffffff;
}
#breadcrumb_holder
{
    height:21px;
    background-color:#ffffff;
    width:962px;
    margin:0px auto;
}
#content
{
    width:962px;
    margin:0px auto;

}
#content_background
{
    width:962px;
    background-repeat:repeat-y;
    float:left;
}
#content_background_fullwidth
{
    /* TODO: Missing image */
    background-image:url('./images/background-leader-fullwidth.gif');
    width:962px;
    background-repeat:repeat-y;
    float:left;
}
#left_panel
{
    width:185px;
    float:left;
    padding-right:13px;
}
#leftmainnav 
{
    width:185px;
    float:left;
    font-weight:bold;
    margin-top:20px;
}
#leftmainnav ul
{
    margin-left:3px;
}
#leftmainnav li.level0 a:link, #leftmainnav li.level0 a:visited
{
    padding:4px 0px;
    display:block;
    text-decoration:none;
    margin-bottom:3px;
}
#leftmainnav li.level0 a:hover
{
    background-color:#d2d3d5;
    
}
#leftmainnav li.level1 a:link, #leftmainnav li.level1 a:visited
{
    padding:3px 0px;
    display:block;
    text-decoration:none;
    margin-bottom:3px;
}
#leftmainnav li.level1 a:hover
{
    background-color:#d2d3d5;
    
}
#leftmainnav li.level2 a:link, #leftmainnav li.level2 a:visited
{
    padding:3px 0px;
    display:block;
    text-decoration:none;
    margin-bottom:3px;
}
#leftmainnav li.level2 a:hover
{
    background-color:#d2d3d5;
    
}
.active
{
    background-color:#d2d3d5 !important;
    
}
.visible a
{
    background-color:#ffffff;
    
}
.invisible
{
    display:none;
}
.visible
{
    display:block;
}
.menugolddofe
{
    /*TODO: Missing image */
    background-image:url('./images/gold-nav.gif');
    background-repeat:no-repeat;
    padding-left:25px;
}
.menusilverdofe
{
    /*TODO: Missing image */
    background-image:url('./images/silver-nav.gif');
    background-repeat:no-repeat;
    padding-left:25px;
}
.menubronzedofe
{
    /*TODO: Missing image */
    background-image:url('./images/bronze-nav.gif');
    background-repeat:no-repeat;
    padding-left:25px;
}
.menuvolunteering 
{
    /*TODO: Missing image */
    background-image:url('./images/volunteering-nav.gif');
    background-repeat:no-repeat;
    background-position:0px 3px;
    padding-left:20px;
    margin-bottom:0px;
}
.menuphysical  
{
    /*TODO: Missing image */
    background-image:url('./images/physical-nav.gif');
    background-repeat:no-repeat;
    background-position:0px 3px;
    padding-left:20px;
    margin-bottom:0px;
}
.menuskills   
{
   /*TODO: Missing image */
    background-image:url('./images/skills-nav.gif');
    background-repeat:no-repeat;
    background-position:0px 3px;
    padding-left:20px;
    margin-bottom:0px;
}
.menuexpedition    
{
    /*TODO: Missing image */
    background-image:url('./images/expedition-nav.gif');
    background-repeat:no-repeat;
    background-position:0px 3px;
    padding-left:20px;
    margin-bottom:0px;
}
.menuresidential
{
    /*TODO: Missing image */
    background-image:url('./images/residential-nav.gif');
    background-repeat:no-repeat;
    background-position:0px 3px;
    padding-left:20px;
    margin-bottom:0px;
}
.menugrey 
{
    /*TODO: Missing image */
    background-image:url('./images/node-nav.gif');
    background-repeat:no-repeat;
    padding-left:20px;
    margin-bottom:0px;
}
.menudofeinfo
{
    /*TODO: Missing image */
    background-image:url('./images/information-nav.gif');
    background-repeat:no-repeat;
    padding-left:25px;
}
.menuparticipationplaces
{
    /*TODO: Missing image */
    background-image:url('./images/participant-places-nav.gif');
    background-repeat:no-repeat;
    padding-left:25px;
}
.menumanageparticipants
{
    /*TODO: Missing image */
    background-image:url('./images/manage-participants-nav.gif');
    background-repeat:no-repeat;
    padding-left:25px;
}
.menumanagegroups 
{
    /*TODO: Missing image */
    background-image:url('./images/manage-groups-nav.gif');
    background-repeat:no-repeat;
    padding-left:25px;
}
.menumanageadults  
{
    /*TODO: Missing image */
    background-image:url('./images/manage-adults-nav.gif');
    background-repeat:no-repeat;
    padding-left:25px;
}
.menuresources   
{
    /*TODO: Missing image */
    background-image:url('./images/resources-nav.gif');
    background-repeat:no-repeat;
    padding-left:25px;
}
.menukeepsafe    
{
    /*TODO: Missing image */
    background-image:url('./images/keep-safe-nav.gif');
    background-repeat:no-repeat;
    padding-left:25px;
}
.menuhelp 
{
    /*TODO: Missing image */
    background-image:url('./images/help-nav.gif');
    background-repeat:no-repeat;
    padding-left:25px;
}
.profile
{
    float:left;
    width:185px;
    margin-top:10px;
}
.profile img
{
    float:left;
}
.profile_details
{
    float:left;
    width:124px;
    padding-left:7px;
}
.profile_name, .profile_id, .profile_link
{
    float:left;
    padding-bottom:12px;
    display:block;
    clear:both;
}
#left_nav_panel
{
    float:left;
    width:185px;
}
.ceop
{
    margin-top:30px;
    float:left;
}
#large_panel
{
    width:764px;
    float:left;
    padding:0px;
}
#middle_panel_content_welcome
{
    padding:10px 20px 20px 20px;
}
#middle_panel_welcome
{
    width:598px;
    margin:10px auto;
    padding:0px;
}
#middle_panel_welcome p
{
  padding-bottom:10px;
}

#middle_panel
{
    width:578px;
    float:left;
    padding:0px;
}
#middle_panel_title
{
    color:#ffffff;
    font-weight:bold;
    font-size:12px;
    padding:5px 20px 6px;
}
#middle_panel_title_fullwidth
{
    color:#ffffff;
    font-weight:bold;
    font-size:12px;
    padding:5px 20px 6px;
    float:left;
    width:538px;
    display:inline;
}
#middle_panel_content
{
    padding: 10px 20px 20px 20px;
}
#divnews ul li
{
    list-style:none !important;
}
.section-divider
{
    padding:0px 0px;
    clear:both;
    margin:10px 0px 10px 0px;
}
#right_panel
{
    width:186px;
    float:left;
}
#right_panel_title
{
    font-weight:bold;
    font-size:12px;
    padding:5px 0px 6px 23px;
}
#right_panel_title_fullwidth
{
    display:inline;
    font-weight:bold;
    font-size:12px;
    padding:5px 0px 6px 23px;
    float:left;
    width:163px;
    z-index:10;
}
#communications_block
{
    border-top:none !important;
    width:154px;
    margin-bottom:12px;
    margin-left:18px;
    padding:0px 5px 10px 5px;
}
#communications_block_fullwidth
{
    border-top:none !important;
    width:154px;
    font-size:11px;
    margin-bottom:12px;
    padding:0px 5px 10px 5px;
    position:absolute;
    top:196px;
    background-color:#ffffff;
    margin-left:576px;
    display:block;
    height:90px;
    
}
#messages, #alerts, #news, #contacts
{
    display:block;
    padding-top:10px;
    font-weight:bold;
}
.unread
{
    color:#fb3a45;
}
.advert_holder
{
    float:left;
    margin-left:18px;
    padding-bottom:12px;
    height:133px;
    display:inline;
}
#footer_wrapper
{
    height:22px;
    font-size:10px;
}
#footer
{
    width:962px;
    margin:0px auto;
    line-height:200%;
}
#footer_left
{
    float:left;
    width:400px;
    text-align:left;
}
#sidebar
{
    position: absolute;
    top: 170px;
    width: 50%;
    right: 0%;
    height: 26px;
    overflow: hidden !important;
    z-index: -99;
    display:inline;
    
    
}

.ajax-loader
{
    display: inline; 
    position: absolute; 
    height: 650px; 
    width: 730px;
    background: white; 
    z-index: 10;
    text-align:center;
    padding-top:200px;
}
.tab
{
    font-weight:bold;
    margin-left:5px;
    
}
.firsttab
{
    margin-left:0px;
    
}
.volunteering, .volunteering a
{
    background-color:#A91B22;
    color:#ffffff;
    padding:5px 10px;
    float:left;
}
.volunteering-border
{
    border:solid 4px #A91B22;
}
.phyical, .phyical a
{
    background-color:#FFC20F;
    color:#ffffff;
    padding:5px 10px;
    float:left;
}
.phyical-border
{
    border:solid 4px #FFC20F;
}
.skills, .skills a
{
    background-color:#014897;
    color:#ffffff;
    padding:5px 10px;
    float:left;
}
.skills-border
{
    border:solid 4px #014897;
}
.expedition, .expedition a
{
    background-color:#005D0D;
    color:#ffffff;
    padding:5px 10px;
    float:left;
}
.expedition-border
{
    border:solid 4px #005D0D;
}
.residential, .residential a
{
    background-color:#5F2778;
    color:#ffffff;
    padding:5px 10px;
    float:left;
}
.residential-border
{
    border:solid 4px #5F2778;
}
.details-list li
{
    margin-bottom:10px;
    float:left;
}
.details_list_label_element_small
{
    font-weight:bold;
    width:200px;
    float:left;
}
.image-link
{
    padding-top:7px;
    float:left;
    margin-right:20px;
    margin-left:4px;
}
.img-for-link
{
    float:left;

}

/* Search Box */

#searchholder
{
    padding: 5px;
}
.active_search
{
}
.search_result
{
    font-size: 12px;
    display: block;
}
.search_result a:link, .search_result a:visited
{
    color: inherit;
    text-decoration: none;
    display: block;
}
.search_result a:hover
{
    text-decoration: none;
}
.active_search
{
    color: #FFFFFF;
    background-color: #ffffff;
}

.active_search a:link, .active_search a:visited
{
    
    text-decoration: none;
}
.search_element1, .search_element2, .search_element3, .search_element4
{
    display: block;
}
.search_element1
{
    padding: 5px 5px 1px 5px;
}
.search_element2
{
    font-size: 9px;
    padding: 1px 5px 1px 5px;
}
.search_element3
{
    font-size: 9px;
    padding: 1px 5px 1px 5px;
}
.search_element4
{
    font-size: 9px;
    padding: 1px 5px 7px 5px;
    border-bottom: 1px #747474 dashed;
}
.search_summary
{
    font-size: 11px;
    display: block;
    padding: 5px;
}
.search_photo
{
   float:Left; 
   height:54px; 
   width:41px; 
   margin:2px;
   margin-right:5px;
}

.evidence-photo
{
    margin:7px 15px;
    
}



h2{

	color:#525253;
}
p{
	font-size:10pt;
}
.slider_block{
	display:block;
	height:1px;
}
#wrapper{
	width:700px;
	margin:40px auto;
}
#signin_wrapper
{
    margin:0px auto 200px auto;
    width:962px;

	
}
#left_panel_wrapper{
	float:left;
	width:320px;
	margin-right:100px;

}
#left_panel{
	float:left;
	width:320px !important;
	padding:0xp 20px;
}
#border-bottom{
	background-color:#f1f1f1;
	height:20px;
	width:249px;
	float:left;
}
#signin_panel_wrapper
{

    
}
#signin_panel_top{
	float:left;
	width:500px;
	height:17px;
	background-image:url('../Resources/Images/top_signin.gif');
	background-repeat:no-repeat;
	display:inline;
	position:relative;
}
#signin_panel
{
    padding:0px 40px;
    height:340px;
}
#signin_panel_bottom{
	float:left;
	width:500px;
	height:29px;
	background-image:url('../Resources/Images/bottom_signin.gif');
	background-repeat:no-repeat;
	position:relative;
}
#signin_panel_holder{
	float:left;
	width:500px;
	background-image:url('../Resources/Images/signin_panel.gif');
	background-repeat:repeat-y;	
	margin-bottom:150px;
}
#status_panel img{
	float:left;
	padding:0px 20px 20px 0px;
}
#signin_panel a:link, #signin_panel a:visited{
	color:#ffffff;
	text-decoration:underline;
	font-size:11px;
	text-align:right;
}
#signin_panel a:hover{
	color:#ffffff;
	text-decoration:none;
}
#signin_panel p{
	color:#ffffff;
	margin-left:0px;
}
#status_panel p{
	color:#ffffff;
	margin-left:40px;
}
#password_link_holder{
	padding-left:35px;
}
.password_link{
	font-size:12px !important;
	float:left;
}
#status_panel{
	
}
label{
	padding-bottom:3px;
	float:left;
	font-size:13px;
}
input.textfield{
	border:solid 2px #555555;
	padding:5px;
	display:block;
	margin-bottom:20px !important;
	width:270px;

}
#forget_password{
	margin-top:20px;
	padding:10px;

}
#header_wrapper
{
    background-color:#ffffff;
}
#logo a
{
    background-image:url('logo.jpg');
    width:125px;
    height:103px;
    
}
#footer_wrapper
{
    height: 22px;
    font-size: 0.75em;
}
#footer
{
    width: 962px;
    margin: 0px auto;
    line-height: 200%;
}
#footer span
{
    cursor:pointer;
}
#footer_left
{
    float: left;
    width: 400px;
    text-align: left;
}
#footer_right
{
    float: right;
    width: 542px;
    text-align: right;
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 20px;
}
#footer_wrapper
{
    border-top:solid 3px #ffffff;
    border-bottom:solid 3px #ffffff;
}