﻿body 
{
    font-size: 10pt;
    font-family: "Verdana", Helvetica, Arial, sans-serif;
    color: #3d3d3d;
}
strong{
	font-weight:bold;
}
h1
{
    font-size:24px;
    font-weight:bold;
    margin-bottom:15px;
}
h2
{
    font-size:16px;
    font-weight:bold;
    margin-bottom:10px;
}
h3
{
    font-weight:bold;
    margin-bottom:10px;
}

#breadcrumb_holder
{
    font-size:11px;
    font-weight:bold;
    line-height:180%;
}
#topnavright
{
    font-size:11px;

}
#topnavleft
{
    font-size:12px;
}
#communications_block
{
    font-size:11px;
}
p
{
    padding-bottom:15px;
    line-height:130%;
}
#middle_panel ul
{
    list-style-image:url('/images/bullet-dash.gif');
    margin-left:2em;

}
#middle_panel ul li
{
    padding-left: 0em;
    padding-bottom:3px;
    line-height:140%;

}
#validation_summary ul
{
    list-style-image:url('/images/bullet-dash.gif');
    margin-left:2em;
}
#validation_summary ul li
{
    padding-left: 0em;
    padding-bottom:3px;
}
.termsofuse
{
    width:270px !important;
    float:left;
    padding:2px 0px 0px 3px;
}