<%@ Page language="c#" Codebehind="SSO.aspx.cs" AutoEventWireup="false" Inherits="Microsoft.Samples.ReportingServices.CustomSecurity.SSO" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
   <HEAD>
      <title>SQL Server Reporting Services Authentication</title>
   </HEAD>
   <body>
      <form id="Form1" method="post" runat="server">
      </form>
   </body>
</HTML>
